.accommodation {
    padding-bottom: 338px;
    width: 83%;
    margin: 0 auto;

    h2 {
        color: var(--Text-Primary, #593932);
        text-align: center;
        font: 400 72px/100% "Noto Serif Display", serif;
        font-style: normal;
        text-transform: uppercase;
        padding-top: 114px;
    }

    .accommodation-1 {
        display: flex;
        flex-direction: column;
        padding-top: 170px;


        &-all {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            height: 480px;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .accommodation-1-all-image {
                width: 60%;
                height: 540px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .2s linear;
                }

                .accommodation-navigation {
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 60px;
                    z-index: 3;

                    .swiper-pagination {
                        position: relative;
                        text-align: left;
                        bottom: auto;
                        width: auto;
                        left: 13%;
                    }

                    .swiper-pagination-bullet {
                        width: 53px;
                        height: 20px;
                        text-align: center;
                        line-height: 20px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #fff;
                        opacity: 0.7;
                        background: transparent;
                        margin: 0;
                    }

                    .swiper-pagination-bullet-active {
                        opacity: 1;
                    }

                    .accommodation-progress {
                        display: flex;
                        width: 50%;
                        height: 2px;
                        background: #D4D4D4;
                        position: relative;
                        opacity: 0.5;
                        right: 5%;

                        .progress-bar,.progress-bar-1 {
                            height: 100%;
                            width: 30%;
                            background: #FFF;
                            opacity: 1;
                        }
                    }

                    .accommodation-buttons {
                        display: flex;
                        gap: 16px;

                        button {
                            width: 56px;
                            height: 56px;
                            align-items: flex-start;
                            border-radius: 64px;
                            border: 1px solid white;
                            padding: 10px 15px;
                            cursor: pointer;
                            font-size: 16px;
                            background: transparent;
                        }
                    }
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 668px;
                margin-left: auto;
                padding: 55px 85px;
                align-items: center;
                height: 100%;
                background: #F6F2EE;
                z-index: 2;

                h3,
                p {
                    color: #593932;
                    font-style: normal;
                }

                h3 {
                    font: 300 32px/48px "Noto Serif Display", serif;
                    letter-spacing: 1.92px;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 24px;
                }

                p {
                    font: 600 20px/29.2px 'Nunito Sans', sans-serif;
                    margin-bottom: 48px;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    padding: 12px 8px;
                    background: #136062;
                    border: none;
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }

    .accommodation-icons {
        display: flex;
        padding-top: 50px;
        align-items: flex-start;
        flex-shrink: 0;

        ul {
            display: flex;
            gap: 68px;
            padding-left: 40px;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                flex: 1 0 0;

                p {
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }
        }
    }

    .swiper-button-disabled {
        opacity: 0.5;
    }
}